* {
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
}

#app{
  height: 100%;
  .common-layout{
    height: 100%;
    .el-container{
      height: 100%;
      .el-aside{
        height: 100%;
      }
      .el-header{
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 1px 4px 0px rgba(0, 21, 41, 0.12);
      }
      .el-main{
        background-color: #F0F2F5;
        height: calc(100vh - 64px);
        overflow-y: auto;
        box-sizing: border-box;
        padding: 20px;
        .pageContent {
          overflow: auto;
          background-color: #fff;
          width: 100%;
          height: 100%;
          padding: 20px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.my_file {
  position: relative;
  .my_input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
  }
}